.body{
    background-color:#0C0A09;
}
.a {
    font-family: 'Permanent Marker', cursive;
}

.jumbotron{
    position: relative;
    background: #000 url("http://animacentr.com/images/fd8/coffee-beans-inspiration-9.jpg") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    font-family: 'Margarine', cursive;
}
.jumbotron p {
    color:#AA9F99;
}

